*{
    margin: 0;
    padding: 0;
   box-sizing:border-box;
}
.abdu{
 font-size: x-large;
 color: rgb(255, 255, 255);
 font-family: Georgia, 'Times New Roman', Times, serif;
 background-attachment: fixed;
 background-color: rgb(107, 186, 186);
 text-align: center;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 151, 151);
    opacity: 0.8;
    position: sticky;
    top: 0%;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family:fantasy;
    font-size: 1.3rem;
    font-weight: bold;
}
.navbar ul li a:hover{
    color: brown;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(226, 159, 14);
    padding: 8px 25px;
}
#Home{
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    color: rgba(33, 37, 34, 0.678);
backface-visibility: visible;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;

}
.main p{
    font-size: 3rem;
    color: rgb(9, 9, 9);
}
.headings{
    font-family:'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
    margin: 30px 0;
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    padding: 25px;
    background-color: darkgoldenrod;

}
.intro{
    text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 1.4rem;
}
.intro ul{
    text-align: left 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.intro address{
    text-align: right;
    padding-bottom: 10px;
}
#pic{
    display: flex;
}
#pic img{
    width: 500px;
    height: 500px;

}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    font-size: larger;
}
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgb(104, 95, 95);
    color: aliceblue;
    background-image:url('images/014.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    padding: 18px;

}
.portfolio{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0;
    padding: 13px;

}
.gallery{
    display: flex;
    flex-wrap :wrap-reverse;
    justify-content:space-around;
    width: 100%;

}
.gallery img{
    width: 400px;
    height: 390px;
    margin: 1rem;
}
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(150, 181, 170);
    color: black;
    padding: 23px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    /* margin: 10px 0; */
    padding: 30px;
}
  .social img{
      width: 50px;
      height: 50px;
     margin: 20px 0;
  }
  .social{
      display: flex;
      justify-content: center;
  }
  .social ul li{
      display: inline-block;
      margin: 1rem;
  }
  .contact-links p{
      text-align: center;
  }