*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 151, 151);
    opacity: 0.8;
    position: sticky;
    top: 0%;
}
.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    align-items: center;
    font-family:fantasy;
    font-size: 1.3rem;
    font-weight: bold;
}
.navbar ul li a:hover{
    background-color: cornsilk;
    color: rgb(7, 207, 97);
}
.navbar ul li a{
    text-decoration: none;
    color:rgb(169, 16, 16);
    padding: 8px 25px;
}
#Home{
    height: 350px;
  align-items: flex-end;
    background-color: rgb(80, 84,86);
    align-items: center;
}
.main{
    padding-top: 50px;
    flex-direction: column;
    position: absolute;

}
.main p{
    display: flex;
    text-align: center;
    font-size: 2em;
    color: rgb(193, 179, 72);
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing:border-box;
    padding: 25px;
    background-color: rgb(106, 100, 85);

}
.headings{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    text-align: center;
    margin: 15;
    padding: 13px;
    color: black;
}
.intro{
    text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 1.4rem;
}
.intro ul{
    text-align: left 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.intro address{
    text-align: right;
    padding-bottom: 10px;
}
#pic{
    max-width: 100%;
    display: flex;
    border: solid;
    padding: 25px;
    box-sizing: border-box;
}
#pic img{
    width: 300px;
    height: 300px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    font-size: larger;
}
.projects{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0;
    padding: 13px;
    color: black;
}
#Project{
    display: flex;
    flex-direction: column;
    background-color: rgb(80, 84, 86);
    color: rgb(227, 177, 12);
    padding: 18px;

}
.gallery{
    display: flex;
    justify-content:space-around;
    width: 100%;

}
.gallery img{
    width: 20rem;
    height: 20rem;
 padding: 20px;
}
.project-1 img{
    width: 30rem;
}
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(116, 124, 121);
    color: black;
    padding: 23px;
}
  .social img{
      width: 50px;
      height: 50px;
     margin: 20px 0;
  }
  .social{
      display: flex;
      justify-content: center;
  }
  .social ul li{
      display: flex;
      display: inline-block;
      margin: 1rem;
  }
  .back{
      text-align: center;
  }
  .footer{
      background-color: darkolivegreen;
      text-align: center;
      color: orange;
  }